@import url("https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.bg-home {
  display: flex;
  align-items: center;
  background: no-repeat url("./img/nightbg-1.png");
  background-size: cover;
  color: #fff;
  height: 100vh;

  a {
    display: inline-block;
    font-size: 20px;
    background-color: #76b8f5 !important;
    color: #000;
    border-radius: 36px;
    padding: 1.4rem 1.3rem;
    margin: 8px 0;
    border: none;
    cursor: pointer;
  }
}

.bg-puple {
  background: no-repeat url("./img/nightbg-2.png");
  background-size: cover;
  height: 100vh;
  color: #fff;
}
.bg-planete {
  display: flex;
  align-items: center;
  background: no-repeat url("./img/nightbg-2.png");
  background-size: cover;
  height: 100vh;
  color: #fff;
}

.bg-system {
  background: no-repeat url("./img/solarsystembg.png");
  background-size: cover;
  height: 100vh;
  color: #fff;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

h1,
h2,
label {
  font-family: "Changa One", cursive;
  font-size: 6rem;
}

.staranimation {
  position: absolute;
  width: 100%;
  height: 100vh;
  bottom: 0;
  right: 0;
  z-index: 1;
  pointer-events: none;
}
.caracteristique {
  background: #17063c;
  border-radius: 50px;
  padding: 1.4rem 1.3rem;
}

.planete-3d {
  height: 260px;
  background: black;
  border-radius: 50px;
  border: 4px solid #feeba7;
}

.mercure,
.venus,
.earth,
.mars,
.jupiter,
.saturn,
.uranus,
.neptune {
  position: absolute;
  width: auto;
  text-align: center;
  z-index: 2;

  img {
    pointer-events: none;
    animation: rotatePlanet 10s linear infinite;
  }
}

.mercure {
  top: 60%;
  left: 10%;
}
.venus {
  top: 50%;
  left: 20%;
}
.earth {
  top: 40%;
  left: 30%;
}
.mars {
  top: 60%;
  left: 40%;
}
.jupiter {
  top: 20%;
  left: 50%;
}
.saturn {
  top: 40%;
  left: 68%;
}
.uranus {
  top: 10%;
  left: 70%;
}
.neptune {
  top: 60%;
  left: 80%;
}

@keyframes rotatePlanet {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.planete-name {
  font-size: 2rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  background-color: #17063c;
}

.click-here {
  position: absolute;
  bottom: 10px;
  right: 50%;
  pointer-events: none;
  z-index: 2;
}

/* Media query for screens smaller than tablets (less than 768px) */
@media (max-width: 992px) {
  body {
    position: relative;
    height: 100% !important;
  }

  body::after {
    content: "Veuillez prendre un écran plus large pour explorer l'univers";
    position: absolute;
    text-align: center;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #17063c;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
  }

  main {
    display: none !important;
  }
}

/* Loader */
:root {
  --loader-color: #fff;
  --loader-size: 14.6rem;
  --loader-offset: 1.7rem;
  --loader-timing: ease-in-out;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #17063c;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.loader.hidden {
  opacity: 0;
  pointer-events: none;
}

.loader::before,
.loader::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-timing-function: var(--loader-timing);
  filter: drop-shadow(
    0 0 calc(var(--loader-offset) / 2.25) rgba(255, 255, 255, 0.75)
  );
}

.loader::before {
  width: var(--loader-size);
  height: var(--loader-size);
  box-shadow: inset 0 0 0 var(--loader-offset) var(--loader-color);
  animation-name: pulsA;
}

.loader::after {
  width: calc(var(--loader-size) - var(--loader-offset) * 2);
  height: calc(var(--loader-size) - var(--loader-offset) * 2);
  box-shadow: 0 0 0 0 var(--loader-color);
  animation-name: pulsB;
}

@keyframes pulsA {
  0% {
    box-shadow: inset 0 0 0 var(--loader-offset) var(--loader-color);
    opacity: 1;
  }
  50%,
  100% {
    box-shadow: inset 0 0 0 0 var(--loader-color);
    opacity: 0;
  }
}

@keyframes pulsB {
  0%,
  50% {
    box-shadow: 0 0 0 0 var(--loader-color);
    opacity: 0;
  }
  100% {
    box-shadow: 0 0 0 var(--loader-offset) var(--loader-color);
    opacity: 1;
  }
}
